@import url("https://fonts.googleapis.com/css2?family=Meow+Script&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Cores do projeto */
:root {
  --corPrincipal: #df219d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

p {
  margin: 6px;
  font-size: 1.1rem;
}

main {
  background-image: url("/imgs/fotoCasal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: initial;
  background-attachment: fixed; /* Faz o fundo ficar fixo enquanto rola a página */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Adiciona um escurecimento */
  z-index: 1;
}

main > * {
  position: relative;
  z-index: 2;
  color: white; /* Garante que o texto fique visível */
}

body {
  background-color: #f5f5f5;
}

hr {
  margin: 0;
}

.introjs-tooltiptext {
  padding: 15px !important;
}

.modal-backdrop {
  --bs-backdrop-zindex: 0 !important;
  z-index: var(--bs-backdrop-zindex) !important;
}

.modal-content {
  color: black;
}

.navbar {
  background-color: var(--corPrincipal) !important;
}

.logoCasamento {
  width: 50px;
  margin-left: 1%;
  filter: brightness(20%);
}

/* Estilo para suavizar a transição do dropdown */
.dropdown-menu {
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* Tempo e suavidade da transição */
}

.dropdown-menu.show {
  opacity: 1; /* Define a opacidade para quando estiver visível */
}

/* Titulo */
#tituloMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-center {
  margin-top: 6%;
  margin-bottom: 2%;
}

.lead {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
}

.justify {
  text-align: justify;
}

#tituloMain h1 {
  font-size: 2.73rem;
  font-family: "Meow Script", cursive;
}

/* Flor */
.divisao img {
  width: 60px;
  margin-bottom: 50%;
}

/* List group */
.list-group {
  width: 60%;
  justify-content: center;
  align-items: center;
}

.list-group-item {
  display: flex;
  justify-content: center;
}

/* Card */
.cards-presentes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  width: 90%;
  height: 100%;
  margin-top: 25px;
  margin-bottom: 30px;
}

.carregando {
  width: 100%;
  padding: 20px;
}

.card.comprado {
  position: relative;
}

.introjs-tooltip {
  border: 3px double #da008e !important;
}

.introjs-button {
  background-color: #da008e !important;
  color: #ffffff !important;
  text-shadow: none;
}

.introjs-button:hover {
  background-color: #ae0172 !important;
  color: #ffffff !important;
  text-shadow: none;
}

.introjs-tooltip .card.comprado::after {
  content: "Comprado";
  position: initial;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
}

.card.comprado::after {
  --position-after: absolute;
  content: "Comprado";
  position: var(--position-after);
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
}

.topico h1 {
  margin-left: 3%;
  font-size: 1.4rem;
}

.card-img-top {
  padding: 15px;
}

.card:nth-child(1) {
  margin-top: 0;
  margin-bottom: 30px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-title {
  text-align: center;
  font-size: 1.2rem;
}

.btn-fucsia {
  background-color: var(--corPrincipal);
  color: #ffffff;
  margin-top: 5;
}

.btn-fucsia:hover {
  background-color: #da008e;
  color: #ffffff;
}

.logo-whatsapp {
  width: 25px;
  margin-right: 2px;
}

.comunicar-noivos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#btnComunicarNoivos {
  display: flex;
  width: 100px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-weight: 500;
}

.observacao {
  font-size: 0.9rem;
  margin-top: 30px;
}

.card-text {
  font-weight: 300;
}

.btn-card {
  background-color: #e0397e;
  color: #f5f5f5;
}

.lojas-icon {
  width: 50px;
  height: auto;
  margin-top: 4px;
  animation: pulse 1.5s ease-in-out infinite;
}

p > span {
  font-weight: 300;
  font-size: 0.8rem;
  margin-bottom: 2px;
}

.lojas-icon:hover {
  filter: grayscale(20%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Loading */
#loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Footer styling */
.footer {
  color: #f1f1f1;
  font-size: 0.9rem;
}

.footer-logo {
  width: 80px;
  height: auto;
}

.footer-link {
  color: #e0e0e0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffffff;
}

.footer-separator {
  color: #6c757d;
}

.footer-bottom p {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

/* Animações */
@keyframes pulse {
  0% {
    transform: scale(1); /* Tamanho original */
  }
  50% {
    transform: scale(1.1); /* Aumenta em 10% */
  }
  100% {
    transform: scale(1); /* Volta ao tamanho original */
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
