@import url("https://fonts.googleapis.com/css2?family=Meow+Script&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Cores do projeto */
:root {
  --corPrincipal: #df219d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

p {
  margin: 6px;
  font-size: 1.1rem;
}

main {
  background-image: url("/imgs/fotoCasal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: initial;
  background-attachment: fixed;
  /* Faz o fundo ficar fixo enquanto rola a página */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Adiciona um escurecimento */
  z-index: 1;
}

main>* {
  position: relative;
  z-index: 2;
  color: white;
}

section {
  margin-top: 30px;
}

/* Essa section é a primeira */
#eletrodomesticos {
  margin-top: 0;
}

body {
  background-color: #f5f5f5;
}

hr {
  margin: 0;
}

.introjs-tooltiptext {
  padding: 15px !important;
}

.modal-backdrop {
  --bs-backdrop-zindex: 0 !important;
  z-index: var(--bs-backdrop-zindex) !important;
}

.modal-content {
  color: black;
}

.navbar {
  background-color: var(--corPrincipal) !important;
}

.logoCasamento {
  width: 50px;
  margin-left: 1%;
  filter: brightness(20%);
}

/* Estilo para o carrossel */
.carousel {
  margin-top: 55px;
}

/* Transição suave para os slides */
.carousel-inner .carousel-item {
  transition: transform .10s ease-in-out;
}

.carousel-item img {
  width: 300px;
  height: auto;
  /* Mantém a proporção */
  object-fit: cover;
  /* Cobre o espaço do contêiner */
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  /* Ajuste conforme necessário */
  left: 15px;
  /* Ajuste conforme necessário */
  right: 15px;
  /* Ajuste conforme necessário */
  color: white !important;
  /* Cor do texto */
  text-align: center;
  /* Centraliza o texto */
  z-index: 10;
  /* Garante que a legenda fique acima da imagem */
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  filter: none !important;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #ffffff;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner h6 {
  text-align: center;
}

/* Estilo para suavizar a transição do dropdown */
.dropdown-menu {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  /* Tempo e suavidade da transição */
}

.dropdown-menu.show {
  opacity: 1;
  /* Define a opacidade para quando estiver visível */
}

/* Titulo */
#tituloMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-center {
  margin-top: 6%;
  margin-bottom: 2%;
}

.lead {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
}

.justify {
  text-align: justify;
}

#tituloMain h1 {
  font-size: 2.73rem;
  font-family: "Meow Script", cursive;
}

/* Flor */
.divisao img {
  width: 60px;
  margin-bottom: 50%;
}

/* List group */
.list-group {
  width: 60%;
  justify-content: center;
  align-items: center;
}

.list-group-item {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Filtros */
.btn-group-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

/* Card */
.cards-presentes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 90%;
  height: 100%;
  margin-top: 25px;
}

.carregando {
  width: 100%;
  padding: 20px;
}

.card.comprado {
  position: relative;
}

.introjs-tooltip {
  border: 3px double #da008e !important;
}

.introjs-button {
  background-color: #da008e !important;
  color: #ffffff !important;
  text-shadow: none;
}

.introjs-button:hover {
  background-color: #ae0172 !important;
  color: #ffffff !important;
  text-shadow: none;
}

.introjs-tooltip .card.comprado::after {
  content: "Comprado";
  position: initial;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
}

.card.comprado::after {
  --position-after: absolute;
  content: "Comprado";
  position: var(--position-after);
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
}

.topico h1 {
  margin-left: 3%;
  font-size: 1.4rem;
}

.card-img-top {
  padding: 15px;
}

.card:nth-child(1) {
  margin-top: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-title {
  text-align: center;
  font-size: 1.2rem;
}

.btn-fucsia {
  background-color: var(--corPrincipal);
  color: #ffffff;
  margin-top: 5px;
}

.btn-fucsia:hover {
  background-color: #da008e;
  color: #ffffff;
}

.logo-whatsapp {
  width: 25px;
  margin-right: 2px;
}

.comunicar-noivos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#btnComunicarNoivos {
  display: flex;
  width: 100px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-weight: 500;
}

.observacao {
  font-size: 0.9rem;
  margin-top: 30px;
}

.card-text {
  font-weight: 300;
}

.btn-card {
  background-color: #e0397e;
  color: #f5f5f5;
}

.lojas-icon {
  width: 50px;
  height: auto;
  margin-top: 4px;
  animation: pulse 1.5s ease-in-out infinite;
}

p>span {
  font-weight: 300;
  font-size: 0.8rem;
  margin-bottom: 2px;
}

.lojas-icon:hover {
  filter: grayscale(20%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Collapse Lua de Mel */
#missaoCollapse .card-body {
  flex: none;
  padding: 5px 0 0 0;
  color: var(--bs-card-color);
}

.qr-pix {
  background-color: rgba(0, 0, 0, 0) !important;
  margin-top: 0;
  margin-bottom: 20px;
}

#pixNumber {
  position: relative;
  /* Para posicionar o ícone em relação à imagem */

}

.info-icon {
  position: absolute;
  top: 10px;
  /* Ajuste conforme necessário */
  right: 7px;
  /* Ajuste conforme necessário */
  cursor: pointer;
  /* Indica que é clicável */
  font-size: 30px;
  /* Tamanho do ícone */
  color: #007bff;
  /* Cor do ícone */
  animation: pulse .3s ease-in-out infinite;
}

.payment-info {
  display: none;
  /* Inicialmente escondido */
  position: absolute;
  top: 40px;
  /* Ajuste conforme necessário */
  right: 10px;
  /* Ajuste conforme necessário */
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  /* Para garantir que fique acima de outros elementos */
}

.payment-info .small,
small {
  font-size: .775em;
}

#missaoCollapse .card-img-top {
  padding: 10px;
}

#missaoCollapse .card-title {
  color: var(--corPrincipal);
  font-weight: bold;
  font-size: 1.9rem;
  margin-bottom: 0;
}

#missaoCollapse .card-body {
  text-align: center;
}

#missaoCollapse .card {
  margin-bottom: 20px !important;
}

.missao-lua-de-mel {
  border: none;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.btn-collapse {
  background-color: var(--corPrincipal) !important;
  color: white;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 10px;
  transition: border-radius 0.1s ease-in-out;
}

.btn-collapse:focus,
.btn-collapse:active,
.btn-collapse:not(.collapsed) {
  background-color: var(--corPrincipal) !important;
  color: white;
}

.btn-collapse:not(.collapsed) {
  border-radius: 10px 10px 0 0;
}


.collapse {
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  justify-content: center;
  display: flex;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 30px;
}

.collapse.show {
  max-height: 1000px;
  /* Valor grande o suficiente para expandir o conteúdo */
  opacity: 1;
}

.missao-lua-de-mel {
  border-radius: 0 0 10px 10px;
}

#copyButton {
  transition: background-color 0.3s;
}

#copyButton:hover {
  background-color: #0056b3;
}

#copyIcon {
  margin-right: 3.5px;
  text-align: center;
  vertical-align: middle;
}

.arrow {
  display: inline-block;
  transition: transform 0.6s ease;
  /* Transição suave e lenta */
  margin-left: 8px;
  /* Espaço entre o texto e o ícone */
}

.btn-collapse:not(.collapsed) .arrow {
  transform: rotate(180deg);
  /* Rotaciona a seta para cima quando expandida */
}

/* Animação de levitação */
@keyframes levitate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2px);
    /* Sobe um pouco */
  }

  100% {
    transform: translateY(0);
    /* Volta para a posição original */
  }
}

.btn-collapse .arrow {
  animation: levitate .3s ease-in-out infinite;
  /* Animação de levitação */
}

.btn-collapse.collapsed .arrow {
  animation: levitate .8s ease-in-out infinite;
  /* Mantém a animação de levitação quando colapsado */
}

.btn-collapse:not(.collapsed) .arrow {
  animation: none;
  /* Para a animação de levitação quando expandido */
}

.btn-collapse:active .arrow {
  animation: none;
  /* Para a animação de levitação enquanto clicado */
}

hr {
  width: 200px;
  border: 1px solid var(--corPrincipal);
  /* Cor da borda */
  margin: 5px 0 10px 0px;
  /* Margem acima e abaixo */
}

/* Input Busca */
/* Estilo do container de busca */
.search-container {
  position: relative;
  /* Para posicionar o ícone dentro do input */
  width: 100%;
  /* Largura total do container */
  max-width: 400px;
  /* Largura máxima do input */
  margin: 20px 0 10px 0;
  /* Centraliza o container */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo do input de busca */
#search-input {
  width: 100%;
  /* Largura total do input */
  padding: 10px 40px 10px 40px;
  /* Espaçamento interno */
  border: 1px solid #ddd;
  /* Borda do input */
  border-radius: 5px;
  /* Bordas arredondadas */
  font-size: 1rem;
  /* Tamanho da fonte */
  transition: border-color 0.3s;
  /* Transição suave para a borda */
}

/* Efeito de foco no input */
#search-input:focus {
  border-color: #da008e;
  /* Cor da borda ao focar */
  outline: none;
  /* Remove o contorno padrão */
}

/* Estilo do ícone de busca */
.search-icon {
  position: absolute;
  /* Posiciona o ícone dentro do input */
  left: 10px;
  /* Distância da esquerda */
  top: 50%;
  /* Centraliza verticalmente */
  transform: translateY(-50%);
  /* Ajusta a posição vertical */
  font-size: 1.2rem;
  /* Tamanho do ícone */
  color: #aaa;
  /* Cor do ícone */
  pointer-events: none;
  /* Ignora eventos de clique no ícone */
}

/* Loading */
#loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Footer styling */
.footer {
  color: #f1f1f1;
  font-size: 0.9rem;
}

.footer-logo {
  width: 80px;
  height: auto;
}

.footer-link {
  color: #e0e0e0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffffff;
}

.footer-separator {
  color: #6c757d;
}

.footer-bottom p {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

/* Animações */
@keyframes pulse {
  0% {
    transform: scale(1);
    /* Tamanho original */
  }

  50% {
    transform: scale(1.1);
    /* Aumenta em 10% */
  }

  100% {
    transform: scale(1);
    /* Volta ao tamanho original */
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}